.container {
    gap: 4rem;
}

.about-text {
    text-align: justify;
    width: 90%;
}

.about-thanks {
    width: 90%;
}

.container h1 {
    display: flex;
    justify-content: space-between;
}

@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.bike {
    width: 12rem;
    height: 7rem;
    transform: scaleX(-1);
}

.react-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-logo {
    width: 3rem;
    height: 3rem;
    animation: spin 3.5s linear infinite;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    overflow-y: auto;
    align-items: center;
}