.vertical-timeline-element-title {
    color: darkgray;
}

.vertical-timeline-element-content p{
    color: darkgray;
    font-weight: bold;
}

.vertical-timeline-element-date {
    color: darkgray;
}