/* NavBar.css */

.portfolio-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-nav ul {
    display: flex;
    flex-direction: row;
}

.portfolio-nav li {
    padding: 0.5rem;
    list-style: none;
}

.portfolio-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.portfolio-nav a:hover {
    color: #ff9900;
}

/* Media Query for Mobile View */
@media only screen and (max-width: 768px) {
    .portfolio-nav {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: fixed;
        top: 3rem;
        left: 0;
        width: 100%;
        height: calc(100vh - 3rem);
        padding: 1rem;
        z-index: 10;
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
    }

    .portfolio-nav.open {
        display: flex;
        left: 0;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
    }

    .portfolio-nav ul {
        flex-direction: column;
    }

    .portfolio-nav li {
        padding: 1.5rem;
        text-align: center;
    }
}
