.photo-display {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    touch-action: none;
}

.displayed-image {
    width: 90vw;
    height: 90vh;
    object-fit: cover;
    overflow: hidden;
}

.nav-button {
    position: absolute;
    background-color: rgba(120, 110, 110, 0.4);
    border: 0.1rem solid rgb(195, 176, 176, 0.8);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(233, 225, 225, 0.5);
    cursor: pointer;
    transition: color 0.3s ease;
    line-height: 1rem;
}

.prev-button {
    left: 0.2rem;
}

.next-button {
    right: 0.2rem;
}

.nav-button:hover {
    background-color: rgba(38, 25, 25, 0.4);
    border: 0.1rem solid rgb(117, 116, 116);
}