::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background-color: #a97e96;
    border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
    background-color: #d1a4b1;
    border-radius: 0.25rem;
}